@import '../../../scss/variables';

.header {
  background-color: black;
  display: flex;
  //   padding: 30px;
  align-items: center;
  justify-content: space-between;

  > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
